@model DEMO.Models.Designation

@{
    ViewData["Title"] = "DesignationView";
}

    <div class="row">
        <div class="col-lg-10">
            <h1 style="text-align:center">Designations</h1>
        </div>
        <div class="col-lg-2">
            <a asp-action="Create_des" class="btn btn-outline-success"><i class="fa fa-plus-square mr-2 ">   </i>Designation</a>
        </div>
    </div>

    <hr />
    <table class="table table-striped" style="border: 2px solid black">
        <thead>
            <tr>
                <th scope="col">
                    Designation
                </th>
                <th scope="col">
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.designationn)
            {
                <tr>
                    <td>
                        @item.designation
                        </td>
                   
                
                
                    <td>
                        <a asp-action="Edit_des" asp-route-id="@item.DesignationId"><i class="fa fa-marker fa-lg"></i></a>

                        <a asp-action="DeleteDesignation" asp-route-id="@item.DesignationId" class="text-danger ml-1"><i class="far fa-trash-alt fa-lg"></i></a>


                    </td>
                  
                </tr>
            }

        </tbody>
    </table>
    <div>
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
